//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.code-box {
    background-color: #f9f9f8;
    border-style: solid;
    border-width: thin;
    border-color: #bfc1c3;
    padding: 20px;
    margin-bottom: 15px;
  }
  

.govuk-notification-banner--failure {
  border-color: #d4351c !important;
  background-color: #d4351c !important;
}

* {
  font-family: Arial, sans-serif !important;
 }

