{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block header %}
  {% include "../includes/header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorSubmission %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

    <h1 class="govuk-heading-xl">
      Upload your accounts file
    </h1>

        <p class="govuk-body">To use this service you'll need to:</p>
            <ul class="govuk-list govuk-list--bullet">
        <li>upload an iXBRL accounts file</li>
        <li>select continue to check your accounts meet the iXBRL specification and business validation rules</p>
        <li>zip file submissions, including UK Single Electronic Format (UKSEF) Taxonomy submissions and Welsh/English dual submissions </li>
      </ul>



      <div class="govuk-inset-text">
        The ‘Show Image’ function is not available for Zip Submissions.
        Companies House does not process these submissions through 
        the image system. The iXBRL contained in the submission is made available 
        for the user to download or to open in a web browser.
      </div>


    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group" id="upload">
        <label class="govuk-label" for="upload-file">
          Upload an iXBRL accounts file. 
        </label>
        <p id="upload-file-error" class="govuk-error-message govuk-visually-hidden">
          <span class="govuk-visually-hidden">Error:</span> The selected file must be xhtml.
        </p>
        <input class="govuk-file-upload" id="upload-file" name="upload-file" type="file">
      </div>


      <div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show image
        </button>
      </div>

      <p class="govuk-body">The validation process may take a few minutes.</p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
