{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block header %}
  {% include "../includes/header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorSubmission %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

    <h1 class="govuk-heading-xl">
      Upload your accounts file
    </h1>





    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group" id="upload">
        <label class="govuk-label" for="upload-file">
          Upload an iXBRL accounts file. 
        </label>
        <p id="upload-file-error" class="govuk-error-message govuk-visually-hidden">
          <span class="govuk-visually-hidden">Error:</span> The selected file must be xhtml.
        </p>
        <input class="govuk-file-upload" id="upload-file" name="upload-file" type="file">
      </div>

        <p class="govuk-body">To preview the image for single instance FRC submissions, select ‘show image’. </p>

            <div class="govuk-inset-text">
        You cannot view an image for zip file submissions, including UK Single Electronic Format (UKSEF) Taxonomy submissions and Welsh/English dual submissions.
      </div>

      <div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show image
        </button>
      </div>

      <p class="govuk-body">The validation process may take a few minutes.</p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
