{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block header %}
  {% include "../includes/header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your file has been validated
          </h3>
          <p>The instance document taxonomy file 'companies_house_file.xhtml has been successfully validated.</p>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">You can select show image to preview the image that will 
        be published on the Companies House register.</p>

      <div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Show image
        </button>
      </div>

      <p>You can <a href="account-submission">validate another single instance or ZIP file</a>.</p>

      <p>You can return to the <a href="https://find-and-update.company-information.service.gov.uk/"> Companies House home page</a>.</p>
    </div>
  </div>

{% endblock %}
