{% extends "layouts/main.html" %}

{% block pageTitle %}
  Overview – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement for the XBRL Validator overview service
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">link</a></li>
        <li><a href="#" class="govuk-link">link</a></li>
        <li><a href="#" class="govuk-link">link</a></li>
        <li><a href="#" class="govuk-link">link</a></li>
        <li><a href="#" class="govuk-link">link</a></li>
      </ul>

      <h2 class="govuk-heading-m">Header 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet leo diam, accumsan 
        commodo lorem pulvinar id. Nulla et egestas tortor, a fringilla justo. Vestibulum placerat 
        feugiat posuere. Ut vel justo quis libero fermentum bibendum. Nulla auctor finibus augue vel 
        viverra. Cras consectetur vehicula orci, at lacinia est consequat non. Vestibulum consectetur 
        volutpat interdum.</p>
    
    <h2 class="govuk-heading-m">Header 2</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet leo diam, accumsan 
        commodo lorem pulvinar id. Nulla et egestas tortor, a fringilla justo. Vestibulum placerat 
        feugiat posuere.</p>


    <h2 class="govuk-heading-m">Header 3</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet leo diam, accumsan 
        commodo lorem pulvinar id. Nulla et egestas tortor, a fringilla justo. Vestibulum placerat 
        feugiat posuere. Ut vel justo quis libero fermentum bibendum. Nulla auctor finibus augue vel 
        viverra. Cras consectetur vehicula orci, at lacinia est consequat non. Vestibulum consectetur 
        volutpat interdum. Aliquam hendrerit ipsum erat, sed ullamcorper mauris pulvinar eget. 
        Phasellus sapien erat, facilisis eu nibh vel, luctus rhoncus nulla. Fusce faucibus, nisi 
        vitae pretium viverra, augue dui dictum nisi, et rutrum justo mauris at tortor. Sed 
        tortor magna, faucibus vel semper vel, egestas eu lorem. In vel diam turpis. </p>


    <h2 class="govuk-heading-m">Header 4</h2>

    <p>Aliquam hendrerit ipsum erat, sed ullamcorper mauris pulvinar eget. 
        Phasellus sapien erat, facilisis eu nibh vel, luctus rhoncus nulla. Fusce faucibus, nisi 
        vitae pretium viverra, augue dui dictum nisi, et rutrum justo mauris at tortor. Sed 
        tortor magna, faucibus vel semper vel, egestas eu lorem. In vel diam turpis. Etiam volutpat, 
        lectus sed tristique pulvinar, erat dui iaculis enim, ac vestibulum augue orci vitae ligula. 
        Nullam leo nisl, ultrices at libero ut, tempor pellentesque ligula. Mauris vel magna massa. 
        Curabitur ultricies id magna nec congue.</p>


    <h2 class="govuk-heading-m">Header 5</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet leo diam, accumsan 
        commodo lorem pulvinar id. Nulla et egestas tortor, a fringilla justo. Vestibulum placerat 
        feugiat posuere. Ut vel justo quis libero fermentum bibendum. Nulla auctor finibus augue vel 
        viverra. Cras consectetur vehicula orci, at lacinia est consequat non. Vestibulum consectetur 
        volutpat interdum. </p>
        

      

    </div>
  </div>

{% endblock %}