{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
    </h1>

    <!--Visually hidden success message-->
    <div class="govuk-notification-banner govuk-notification-banner--success govuk-visually-hidden" id="success-message" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The validation of the document 'companies_house_document.xhtml'  has been successful
        </h3>
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="#">Download generated image.</a></p>
      </div>
    </div>

    <!--Visually hidden failure message-->
    <div class="govuk-notification-banner govuk-notification-banner--failure govuk-visually-hidden" id="failure-message" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Failure
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The validation of your Instance document has been not been successful
        </h3>
        <p class="govuk-body">The validation failed with the following errors:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>XML document structures must start and end within the same entity.</li>
          <li>The element type "style" must be terminated by the matching end-tag.</li>
        </ul>
      </div>
    </div>

    <!--Visually hidden error message-->
    <div class="govuk-visually-hidden" id="file-error-summary">    
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#file-upload-error">The selected file must be xhtml.</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <p class="govuk-body">This is a service that checks your instance document for conformance to the XBRL specification 
      and to business validation rules (this validation may be performed for both inline XBRL and 'raw' XBRL documents).</p>

    <p class="govuk-body">The service will also provide, for inline XBRL documents, a generated image of the accounts 
      (that will mirror the image generated by the Companies House live service).</p>

    <p class="govuk-body"><a href="xbrl-validator-overview" class="govuk-link">Overview of how the Validator process works.</a></p>

    <div class="govuk-!-padding-bottom-7"></div>

    <p class="govuk-body">To use this service enter the location of the instance document taxonomy file and select 'Validate'.</p>

    <p class="govuk-body">The validation process may take a few minutes.</p>

    <div class="govuk-form-group" id="file-upload">
      <label class="govuk-label" for="file-upload-1">
        Upload a XHTML file
      </label>
      <p id="file-upload-xhtml-error" class="govuk-error-message govuk-visually-hidden">
        <span class="govuk-visually-hidden">Error:</span> The selected file must be xhtml.
      </p>
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <button class="govuk-button" data-module="govuk-button" onclick="file_check()">
      Validate
    </button>

  </div>
</div>

{% endblock %}
