{% extends "layouts/main.html" %}

{% block pageTitle %}
Shortcuts – {{serviceName}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-two-thirds">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Version 1: December 2022</span>
    </h1>

    <h2 class="govuk-heading-m">Interactive prototype</h2>

    <p class="govuk-body">For a success message upload a file with an 'xhtml' extension. Any other extension will result in a failure message.</p>

    <p class="govuk-body"><a href="v1/xbrl-validator-interactive" class="govuk-link">XBRL Validator interactive prototype</a></p>

    <h2 class="govuk-heading-m">Entry points</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="v1/xbrl-validator" class="govuk-link">XBRL Validator</a></li>
      <li><a href="v1/xbrl-validator-successful" class="govuk-link">XBRL Validator - Successful</a></li>
      <li><a href="v1/xbrl-validator-failure" class="govuk-link">XBRL Validator - Failure</a></li>
      <li><a href="v1/xbrl-validator-error" class="govuk-link">XBRL Validator - Error</a></li>
      <li><a href="v1/xbrl-validator-overview" class="govuk-link">XBRL Validator overview</a></li>
      <li><a href="v1/accessibility-statement" class="govuk-link">Accessibility statement</a></li>
    </ul>


  
  </div>
</div>

{% endblock %}
